.App {
      font-family: sans-serif;
      width: 100%;
      align-items: center;
    }

.Header {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    border-radius: $borderRadius;
    box-sizing: border-box;
    width: 50%;
    padding: $paddingSize;
    margin: 20px auto;
    &__logout {
        margin-left: 20px;
    }
}

.LoginForm,
.TimeboxEditor,
.TimeboxCreator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: $defaultBorder;
    border-radius: $borderRadius;
    box-sizing: border-box;
    width: 50%;
    padding: $paddingSize;
    margin: 20px auto;
    background-color: lighten($primaryColor, 30%);
 
    button {
        align-self: flex-end;
        width: 200px;
        height: 2em;
        font-size: 1em;
    }
}

.TimeboxSearch {
    display: flex;
    align-items: baseline;
    border: $defaultBorder;
    border-radius: $borderRadius;
    box-sizing: border-box;
    width: 50%;
    padding: $paddingSize;
    margin: 20px auto;
    background-color: lighten($primaryColor, 30%);
    
    input {
        width: 200px;
    }
    button {
        height: 2em;
        font-size: 1em;
    }
}

.FormField {
    display: flex;
    flex-direction: row;
    padding: $paddingSize/2 0;
    span {
        display: block;
        flex: 1 1 20%;
        padding: $paddingSize/2 0;
    }
    
    input {
        font-size: 1em;
        display: block;
        height: 2em;
        flex: 1 1 80%;
    }
}

.ErrorMessage {
    box-sizing: border-box;
    display: flex;
    padding: $paddingSize;
    width: 50%;
    margin: 20px auto;
    background-color: rgb(110, 0, 0);
    color: white;
}

.CurrentTimebox,
.Timebox {
    border: $defaultBorder;
    border-radius: $borderRadius;
    box-sizing: border-box;
    text-align: center;
    width: 50%;
    padding: $paddingSize;
    margin: 20px auto;
    background-color: #3690c9;
}

.CurrentTimebox {
    background-color: darken(invert($primaryColor), 20%);
    button {
        align-self: flex-end;
        width: 100px;
        height: 2em;
        font-size: 1em;
        margin: 0 5px;
    }
}

.progress {
    display: flex;
    border: $primaryColor solid 1px;
    border-radius: $borderRadius;
    padding: 2px;
    margin-bottom: 20px;
    
    &--red {
        background-color: red;
    }
    &--green {
        background-color: green;
    }
    &--orange {
        background-color: $primaryColor;
    }
    &--big {
        height: 2em;
    }
    
    &--regular {
        height: 1em;
    }
    
    &--left-aligned {
        justify-content: flex-start;
    }

    &--right-aligned {
        justify-content: flex-end;
    }

    &__bar {
        height: 100%;
        border-radius: 3px;
    }
}

.OneDivProgressBar {
    --height: 2em;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-end;
    border: $primaryColor solid 1px;
    border-radius: $borderRadius;
    height: var(--height);
    margin-bottom: 20px;
    min-width: 100%;
}

.OneDivProgressBar:after {
    box-sizing: border-box;
    border-radius: 3px;
    content: "";
    height: calc(var(--height) - 6px);
    background-color: $primaryColor;
    position: absolute;
    right: 2px;
    top: 2px;
    width: var(--percent);
}

.clock {
    color: $primaryColor;

    &__separator {
        color: #333;
    }
    
    @each $unit, $color in $timeUnits {
        &__#{$unit} {
            color: $color;
        }
    }
}

.Breaks {
    font-size: 1em;
    color: $primaryColor;
}