$primaryColor: #ff6300;
$defaultBorder: #999 solid 1px;
$borderRadius: 5px;
$paddingSize: 20px;
$timeUnits: (
    "hours": darken($primaryColor, 5%),
    "minutes": darken($primaryColor, 10%),
    "seconds": darken($primaryColor, 15%),
    "milliseconds": darken($primaryColor, 20%),
);